$Cabaret: #CC446C;
$white: #ffffff;
$Emperor: #555555;
$OuterSpace :#2D343D;



$WineBerry: #571845;
$RoseBudCherry: #900C3E;
$Monza: #C70039;
$OutrageousOrange: #FF5733;
$Amber: #FFC300;
$DeepKoamaru: #10266F;
$Mariner: #2980B9;
$Sushi: #8CC24A;




